<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <header>
    <img src="https://i.pinimg.com/1200x/b9/9d/37/b99d375e3f895de54545d7123e0a1fcb.jpg" class="icon">
    <h1>jules.devereaux</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about.html">About</a>
      <a href="/books.html">Books</a>
      <a href="/blog.html">Blog</a>
      <a href="/contact.html">Contact</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 {{ site.title }}</p>
  </footer>
</body>
</html>
