<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <header>
    <h1>jules.devereaux</h1>
    <nav>
      <ul class="nav">
        <li><a href="{{ '/' | relative_url }}">HOME</a></li>
        <span class="dot">●</span>
        <li><a href="{{ '/about.html' | relative_url }}">ABOUT</a></li>
        <span class="dot">●</span>
        <li class="dropdown">
          <a href="{{ '/work/books.md' | relative_url }}">WORK</a>
          <ul class="dropdown-menu">
            <li><a href="{{ '/work/books.md' | relative_url }}">BOOKS</a></li>
            <li><a href="{{ '/work/films.md' | relative_url }}">FILMS</a></li>
            <li><a href="{{ '/work/plays.md' | relative_url }}">PLAYS</a></li>
            <li><a href="{{ '/work/art.md' | relative_url }}">ART</a></li>
          </ul>
        </li><span class="dot">●</span>
        <li><a href="{{ '/blog.html' | relative_url }}">BLOG</a></li>
        <span class="dot">●</span>
        <li><a href="{{ '/contact.html' | relative_url }}">CONTACT</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 {{ site.title }}</p>
  </footer>
</body>
</html>
